*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.mainsection{
   background-image: url("../images/bg1.jpg");
   background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
    display: inline-block;
}
.uppersection {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
.logo{
    font-size:1.5em;
    font-family: "Berkshire Swash", cursive;
}
.dropbtn {
    background-color:black;
    /* color:wheat; */
    margin:2px;
    padding: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(235, 231, 195);
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: "Playfair Display", Arial;
    font-size:20px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.navbar{
    padding-left:40%;
    
}
.navbar a{
    padding: 0.5rem;
    color: black;
    font-family: "Playfair Display", Arial;
    /* transition: all 1s; */
    
}
.navbar a:hover{
    color:darkred;
    /* transform :scale(1.1); */
}
.mainbutton a{
    padding: 0.7em;
    color:white;
    background-color: black;
    border-radius: 50px;
    font-family: "Lobster", Arial;
    border-color:5px solid white ;
    border:0px;
    
}
.mainbutton:hover{
    color:darkred;
    background-color: transparent;
   
}
h2{
  color:black;
   text-align: center;
   font-family: "Lobster", Arial;
   background-color:#fbf5c1;
   
}
.innerbutton{
    margin:left;
    border-color:2px solid black;
    border-radius:5px;
    padding:5px;
}
.offer{
  font-size: 2em;
  text-align: center;
  margin:20px;
  padding:5px;
  background-color:#f5dc90;
  /* border:2px solid black; */
}

div.gallery {
  margin: 50px;
   /* margin-top:10px;  */
  border: 1px solid #ccc;
   float: right; 
  width: 300px;
  /* align-items: center; */
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  /* transform: scale(2,3);  */
  transition: 2s;
}
img:hover{
  transform:scale(1.1);
}

div.desc {
  background-color:gainsboro;
  padding: 15px;
  text-align: center;
  font-family: "Lobster", Arial;
}

.dropbtn1 {
  background-color:darksalmon;
  /* color:wheat; */
 /* margin:px; */
  padding: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Playfair Display", Arial;
}
.about{
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(white, #ff9800c4);
  height:100vh;
}
.content p{
  /* padding: 15px; */
  text-align: center;
  font-family: "Lobster", Arial;
  font-size:25px;
  /* text-align:fit-content; */
  display:inline-block;
}
.contact{
  text-shadow: cornsilk;
  font-size: 20px;
  text-align: left;
  /* margin-right:px; */
  margin:20px;
  padding:7px;
  /* padding:5px; */
  background-color:#f5dc90;
  /* border:2px solid black; */
  /* display:inline-block; */
  /* width:100%; */
  height: fit-content;
  /* font-family: "Lobster", Arial; */
}
  /*#borderimg { 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("images/border.png") 30 round;
   } */

p{
  font-size: 1em;
  text-align: left;
  font-family: "Lobster", Arial;
}
h5{
  /* background-color:linear-gradient(yellow); */
  font-family: "Lobster", Arial;
  text-align: center;
  font-size: 2em;
  color:black;
}
