* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.block {
  height: auto;
  width: 100vw;
}
.row {
  height: 30px;
  width: 90vw;
}
.red-strip {
  background: red;
  height: 30px;
}
.blue-strip {
  background: blue;
  height: 30px;
}
.white-strip {
  background: white;
}
.green-strip {
  background: green;
}
